/*** Font - Open Sans ***/
@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans SemiBold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
}
/*** Reset ***/
body{font-size: 15px; line-height: 24px; font-family: 'Open Sans Regular';}
a, .btn, button{outline: none;transition: all 300ms ease-in-out 0s;}
.btn{display: inline-block; vertical-align: top;transition: all .2s ease-in-out; line-height: normal; padding: 12px 22px;}
.btn-round{border-radius: 50px;}
.btn.btn-primary, .btn_submit{border-color:#86be27;color: #ffffff;background-color:#86be27;}
.btn.btn-primary:hover, .btn.btn_prime:focus, .btn_submit:hover, .btn_submit:focus{border-color:#92d81b;color:#ffffff;background-color:#92d81b;}
.btn-lg{font-size: 16px;padding: 17px 24px;}
.text-white, .text-white p{color: #ffffff;}
.text-greyish{color: #cccccc;}
p{font-size: 15px;line-height: 24px;margin-bottom: 1.6em; color: #666666;}
.mb1{margin-bottom: 10px}
.mb2{margin-bottom: 20px}
.mb3{margin-bottom: 30px}
.mb4{margin-bottom: 40px}
.mb5{margin-bottom: 50px}
.section{padding: 60px 0;}
.bg-primary{background-color: #86be27;}
.bg-light{background-color: #f6f6f6;}
.bg-white{background-color: #ffffff;}
.text-primary{color: #86be27;}
.ptb30{padding-top: 30px;padding-bottom: 30px;}
.p3{padding: 30px;}
.p4{padding: 30px;}
.p5{padding: 50px;}
.no_padding{padding: 0!important;}
.title h3{margin-bottom: 30px;font-size: 30px;line-height: 44px;}
.bg_parallax{background-repeat: no-repeat;background-position: center center;background-size: cover;background-attachment: fixed;}
.bg_image{background-repeat: no-repeat;background-position: center center;background-size: cover;}
.bg_center{background-position: center;}
.bg_auto{background-size: auto;}
.aligner{display: table;}
.aligner-center{display: table-cell; vertical-align: middle;float: none;}
.aligner-top{display: table-cell; vertical-align: top;float: none;}
.aligner-bottom{display: table-cell; vertical-align: bottom;float: none;}
.spacer{padding: 20px 0;}
.form-group{margin-bottom: 20px;}
.form-control{height: auto; padding: 10px 20px;border-radius: 0;}
.no_margin{margin: 0;}
.p-rel{position: relative;}
.title{position: relative; padding-bottom: 15px;margin-top: 0;}
.title_with_line:before{content: ""; position: absolute; width: 90px; height: 2px; left: 50%; margin-left: -45px; background-color: #86be27; top: 100%; }
.left_line:before{left: 0; margin-left: 0;}
.white_line:before{background-color: #ffffff;}
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5{margin-top: 0;}
.line_clamp{display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;}
.line_clamp1{-webkit-line-clamp: 1;}
.line_clamp2{-webkit-line-clamp: 2;}
.line_clamp4{-webkit-line-clamp: 4;}
.fw{display: inline-block;vertical-align: top;width: 100%;}
.container{width: 100%;max-width: 1170px;}
/* Videos Css */
.embed-responsive{position: relative;display: block;width: 100%;padding: 0;overflow: hidden;}
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video{position: absolute;top: 0;bottom: 0;left: 0;width: 100%;height: 100%;border: 0;}
.embed-responsive:before{display: block;content: "";}
.embed-responsive-21by9:before{padding-top: 42.857143%;}
.embed-responsive-16by9:before{padding-top: 56.25%;}
.embed-responsive-4by3:before{padding-top: 75%;}
.embed-responsive-1by1:before{padding-top: 100%;}
/* Slick Slider css */
.slick-slider{position: relative;display: block;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y;touch-action: pan-y;-webkit-tap-highlight-color: transparent;}
.slick-list{position: relative;display: block;overflow: hidden;margin: 0;padding: 0;}
.slick-list:focus{outline: none;}
.slick-list.dragging{cursor: pointer;/*cursor: hand;*/}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.slick-track{position: relative;top: 0;left: 0;display: block;margin-left: auto;margin-right: auto;}
.slick-track:before,.slick-track:after{display: table;content: '';}
.slick-track:after{clear: both;}
.slick-loading .slick-track{visibility: hidden;}
.slick-slide{display: none;float: left;height: 100%;min-height: 1px;}
[dir='rtl'] .slick-slide{float: right;}
.slick-slide img{display: block;width: auto;height: auto;max-width: 100%;max-height: 100%;}
.slick-slide.slick-loading img{display:none;}
.slick-slide.dragging img{pointer-events:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display: block;height: auto;border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}
.slick-arrow{position: absolute; text-indent: -999px; overflow: hidden; border: 0;z-index: 1;background-color: transparent;}
.slick-arrow:before{content: ""; position: absolute; background-image: url(../images/icons/arrow-b.png); width: 10px; height: 17px;display: inline-block; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);background-size: 100%;}
.slick-arrow.slick-prev{ transform: rotate(180deg);}
.slick-dots{list-style: none;}
.slick-dots li{display: inline-block;margin: 3px;}
.slick-dots li button{display: inline-block;width: 10px;height: 10px;border: 0;border-radius: 20px;background-color: #1b1862;overflow: hidden;padding: 0;text-indent: -999px;}
.slick-disabled{opacity: 0.1;}
/* Lightbox css */
.slick-lightbox{position:fixed;top:0;left:0;z-index:9999;width:100%;height:100%;background:black;-webkit-transition:opacity 0.5s ease;transition:opacity 0.5s ease}.slick-lightbox .slick-loading .slick-list{background-color:transparent}.slick-lightbox .slick-prev{left:15px}.slick-lightbox .slick-next{right:15px}.slick-lightbox-hide{opacity:0}.slick-lightbox-hide.slick-lightbox-ie{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}.slick-lightbox-hide-init{position:absolute;top:-9999px;opacity:0}.slick-lightbox-hide-init.slick-lightbox-ie{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}.slick-lightbox-inner{position:fixed;top:0;left:0;width:100%;height:100%}.slick-lightbox-slick-item{text-align:center;overflow:hidden}.slick-lightbox-slick-item:before{content:'';display:inline-block;height:100%;vertical-align:middle;margin-right:-0.25em}.slick-caption-bottom .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption{position:absolute;bottom:0;left:0;text-align:center;width:100%;margin-bottom:20px}.slick-caption-dynamic .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption{display:block;text-align:center}.slick-lightbox-slick-item-inner{display:inline-block;vertical-align:middle;max-width:90%;max-height:90%}.slick-lightbox-slick-img{margin:0 auto;display:block;max-width:90%;max-height:90%}.slick-lightbox-slick-caption{margin:10px 0 0;color:white}.slick-lightbox-close{position:absolute;top:15px;right:15px;display:block;height:20px;width:20px;line-height:0;font-size:0;cursor:pointer;background:transparent;color:transparent;padding:0;border:none}.slick-lightbox-close:focus{outline:none}.slick-lightbox-close:before{font-family:"slick";font-size:20px;line-height:1;color:white;opacity:0.85;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;content:'×'}
.slick-lightbox .slick-arrow{top: 50%;}
.slick-lightbox .slick-next{right: 15px;}
/*** Header ***/
.top-header{padding: 10px 0;}
.logo{float: left;margin: 0;}
.logo a img{max-height: 65px;}
.top-right-menu{float: right; margin-top: 20px;}
.top-right-menu .mail, .top-right-menu .number, .top-right-menu .google-lang{margin-right: 15px;color: #111111;}
.top-right-menu a:hover, .top-right-menu a:focus{text-decoration: none; color: #86be27;}
.header .navbar{margin: 0; border-radius: 0;border: 0; border-top: 1px solid #cccccc;min-height: initial;}
.header .navbar-collapse{float: left;padding: 0;}
.header .navbar .navbar-nav > li{position: initial;}
.header .navbar .navbar-nav > li > a{color: #86be27;font-size: 16px;padding:18px 20px;text-transform: uppercase;background: none;font-family: 'Open Sans Regular';left: .05px;}
.header .navbar .navbar-nav > li > a:hover, .header .navbar .navbar-nav > li > a:focus, .header .navbar .navbar-nav > li.active > a{color: #ffffff;background-color: #86be27;}
.google-lang{display: inline-block;position: relative;vertical-align: middle;}

.sub_menu{position: absolute;z-index: 9;left: 0;top: 100%;margin-top: -2px;right: 0;opacity: 0;visibility: hidden;}
.submenu_content{padding-left: 100px;border-bottom: 5px solid #86be27; background-color: #ffffff;position: relative;padding-top: 10px;padding-bottom: 10px;}
.submenu_logo{position: absolute;transform: rotate(270deg);top: 38%;left: -42px;opacity: 0.1;}
.submenu_logo img{height: 60px;}
.sub_menu_link{float: left;width: 20%;}
.sub_menu_link a{display: block;padding:4px 10px;font-size: 13px;color: #86be27;font-family: 'Open Sans SemiBold';letter-spacing: 0.5px;border-radius: 5px 0 0 5px;margin: 1px 0;border-bottom: 1px solid rgba(0,0,0,0.05);}
.sub_menu_link a:hover, .sub_menu_link a.active{background-color: #86be27; color: #ffffff;text-decoration: none;border-color: transparent;}
.submenu_link_cont{float: left;width: 80%;padding:0 30px;}
.readmore{color: #86be27;}
.content{float: left;width: 65%; padding-right: 20px;}
.images{float: left;width: 35%;}
.link_cont{display: none;}
.link_cont.on{display: block;}
.has_submenu:hover .sub_menu{opacity: 1;visibility: visible;}

.search_form{float: right;position: relative;margin-top: 6px;}
.search_form .form-group{position: relative;}
.search_form .form-control{box-shadow: none;opacity: 0;transition: all .5s ease 0s;width: 250px;position: absolute;right: 0;}
.search_form .form-control.active{opacity: 1;position: absolute;right: 42px;transition: all .5s ease 0s;}
.search-btn {background-color: transparent;padding: 0;border: 0;position: absolute;right: 0;top: 0;width: 42px;height: 42px;transition: all .5s ease 0s;}
.search-btn > span{position: absolute;left: 0;top: 0;width: 42px; height: 42px;display: block;background-repeat: no-repeat;background-position: center;}
.search{background-image: url(../images/icons/search-b.png);}
.close_search{background-image: url(../images/icons/close-p.png);opacity: 0;visibility: hidden;}
.search-btn.active .close_search{opacity: 1;visibility: visible;}
.search-btn.active .search{opacity:0;visibility: hidden;}
.submenu_toggler{display: none;}
/*** Banner ***/
.home-slider .slide-item{position: relative;background-color: #000000;}
.home-slider .slide-item > img{width: 100%;}
.home-slider .slide-item h2{font-family: 'Open Sans Bold';color:#86be27;}
.home-slider .slick-arrow{top: 50%;margin-top: -10px;z-index: 1;}
.home-slider .slick-arrow:before{background-image: url(../images/icons/arrow-g.png);}
.home-slider .slick-next{right: 10px;}
.home-slider .slick-prev{left: 10px;}
.home-slider ul.slick-dots{display: none!important;}
.home-slider .slider-descp{position: absolute; left: 0; top: 50%; width: 100%; transform: translateY(-50%);}
.home-slider .slider-descp p{font-size: 16px;line-height: 26px;font-family: 'Open Sans Regular';}
@-webkit-keyframes scroll{
  0%{opacity: 1;}
  100%{opacity: 0;-webkit-transform: translateY(20px);transform: translateY(20px);}
}
@keyframes scroll{
  0%{opacity: 1;}
  100%{opacity: 0;-webkit-transform: translateY(20px);transform: translateY(20px);}
}
.scroll_to_id{width: 30px;height: 48px;margin-left: -15px;bottom: 20px;box-shadow: inset 0 0 0 1px #fff;border-radius: 25px;position: absolute;left: 50%;margin-left: -15px;}
.scroll_to_id:before{content: "";width: 6px;height: 6px;position: absolute;left: 50%;border: 1px solid #ffffff; margin-left: -3px;top: 8px;border-radius: 4px;-webkit-animation-duration: 1.5s;animation-duration: 1.5s;-webkit-animation-iteration-count: infinite;animation-iteration-count: infinite;-webkit-animation-name: scroll;animation-name: scroll;position: absolute;}
/*** Inner Banner ***/
.inner-banner{padding: 80px 0;}
.inner-banner h2{font-family: 'Open Sans Bold';text-transform: uppercase;}
.breadcrumb{background-color: transparent;padding: 0;margin: 0;font-size: 14px;}
.breadcrumb a{color: #ffffff;}
/*** Home Content ***/
h3.title{font-family: 'Open Sans Bold'; }
/** Products **/
.single_product{float: left;margin-right: 1%;margin-bottom: 1%;position: relative;}
.single_product img{width: 100%;}
@media only screen and (min-width: 1024px){
 .pr_three_columns .single_product{width: 32.66%;}
 .pr_three_columns .single_product:nth-of-type(3n+3){margin-right: 0;} 
 .pr_four_columns .single_product{width: 24.25%;}
 .pr_four_columns .single_product:nth-of-type(4n+4){margin-right: 0;}   
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
 .pr_three_columns .single_product{width: 32.66%;}
 .pr_three_columns .single_product:nth-of-type(3n+3){margin-right: 0;}
 .pr_four_columns .single_product{width: 32.66%;}
 .pr_four_columns .single_product:nth-of-type(3n+3){margin-right: 0;}   
}
@media only screen and (min-width: 380px) and (max-width: 767px){
 .pr_three_columns .single_product{width: 49.5%;}
 .pr_three_columns .single_product:nth-of-type(2n+2){margin-right: 0;}
 .pr_four_columns .single_product{width: 49.5%;}
 .pr_four_columns .single_product:nth-of-type(2n+2){margin-right: 0;}  
 .pr_desp a{font-size: 12px;}
}
@media only screen and (max-width: 379px){
 .single_product{width: 100%;}
 .single_product img{width: 100%;}
 .single_product:nth-of-type(2n+2){margin-right: 0;}  
 .pr_desp a{font-size: 14px;}
}
.pr_desp{position: absolute;bottom: 0;width: 100%;}
.pr_desp h4{margin: 0;}
.pr_desp a{display: block; padding:15px 10px; text-align: center; color: #fff; background: rgba(134,190,39, 0.9);font-size: 14px;font-family: 'Open Sans SemiBold';text-transform: uppercase;}
.pr_desp a:hover{background: rgba(134,190,39, 1);text-decoration: none;}
/** About **/
.about_story{background-color: rgba(17,17,17,.9);padding: 45px;}
.about_story h3{font-family: 'Open Sans Regular';}
.about_story h2{font-family: 'Open Sans Bold';}
.section.bg_parallax{padding: 100px 0;}
/** Color **/
ul.colors{margin: 0; padding: 0; list-style: none;}
ul.colors li{display: inline-block; width: 150px; height: 150px;border-radius: 100%;overflow: hidden; margin:5px;position: relative;}
ul.colors li .overlay{background-color: rgba(255,255,255,.6);text-align: center;position: absolute;left: 0;top: 80px;width: 100%;height: 100%;transition: all .3s ease 0s;opacity: 0;visibility: hidden;}
ul.colors li .overlay span{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 18px; line-height: 24px;font-family: 'Open Sans Bold'; color: #111111;}
ul.colors li:hover .overlay{top: 0;opacity: 1;visibility: visible;}
/** Video / Testimonial **/
.iframe_video{width:100%; }
.quote_text{position: relative;}
.quote_text:before{content: ""; position: absolute; left: 35px; width: 12px;height: 12px;background-color: #f3f3f3;transform: rotate(45deg);bottom: -7px;}
.quote_text p{color: #666666;}
.user_sec{display: inline-block;width: 100%;position: relative;padding-left: 95px;min-height: 85px; padding-top: 19px;}
.user_sec .user_img{position: absolute; left: 0; top: 0;border-radius: 100%;overflow: hidden;}
.user_sec h4{margin-bottom: 0;font-family: 'Open Sans Bold';}
.testimonial_slider ul.slick-dots{display: none!important;}
.testimonial_slider .slick-arrow{bottom: 30px; padding: 15px;vertical-align: top;}
.testimonial_slider .slick-arrow:before{background-image: url(../images/icons/arrow-b.png);}
.testimonial_slider .slick-next{right: 0px;}
.testimonial_slider .slick-prev{right: 40px;}
/*** Footer ***/
.footer{background-color:#2a2f36;}
.top_footer{padding-top: 45px; padding-bottom: 20px;}
.footer .title{font-family: 'Open Sans Bold';font-size: 22px;margin-bottom: 30px;}
.footer .title_with_line:before{width: 50px;}
.footer ul{list-style: none;margin: 0;padding: 0;}
.address_list li{margin-bottom: 20px;}
.address_list li > span{display: inline-block;width: 100%; vertical-align: middle; text-transform: uppercase;margin-bottom: 3px;}
.address_list li > span > img{margin-right: 5px;}
.foot_links li a{display: inline-block; vertical-align: top; margin-bottom: 15px;color: #ffffff;}
.bottom_footer_text{border-top: 1px solid #ffffff; padding: 15px 0;display: inline-block;vertical-align: top;width: 100%;}
.bottom_footer_text p{margin:5px 0 0; float: left;color: #ffffff;}
.social_links{float: right;}
.social_links li{display: inline-block; vertical-align: top; margin:0 3px;}
.social_links li a{float: left;width: 100%;position: relative;}
.social_links li a:before{ content: "";position: absolute; height: 5px;left: 5%;pointer-events: none;top: 100%;width: 90%;  background: radial-gradient(ellipse at center center,rgba(255,255,255,.35) 0,rgba(0,0,0,0) 80%) rgba(0,0,0,0);  background: -webkit-radial-gradient(center,ellipse,rgba(255,255,255,.35) 0,transparent 80%);opacity: 1;transition-duration: .3s;-webkit-transition-duration: .3s;transition-property: transform,opacity;-webkit-transition-property: transform,opacity; opacity: 0;}
.social_links li a:hover{transform: translateY(-5px)}
.social_links li a:hover:before{opacity: 1;top: 110%;}
/*** Inner pages css ***/
/*.about-section{border-bottom: 1px solid #f2f2f2;}*/
.about-section .about_story{padding: 0;background-color: transparent;}
.about-section .about_story p{font-size: 17px;}
.contact-enquiery-form{margin-left: -15px;}
.address_list{list-style: none;margin: 0;padding: 0;}
.contact-addres .address_list span{font-family: 'Open Sans SemiBold';}
.contact-enquiery-form .form-group{margin-bottom: 20px;min-height: 75px;}
.columns{float: left;width: 100%;margin-top: 10px;}
.contact-enquiery-form label{font-family: 'Open Sans Regular';font-weight: normal;}
.contact-enquiery-form .checkbox-inline, .contact-enquiery-form .radio-inline{width: 33.33%;padding-right: 10px;float: left;margin-left: 0; margin-bottom: 5px;}
.sidebar{padding-right: 0;}
ul.cat_list{position: relative;padding: 0;margin: 0;list-style: none;border: 1px solid #ddd;border-radius: 4px;overflow: hidden;}
ul.cat_list li{position: relative;text-align: left;border-bottom: 1px solid #ddd;}
ul.cat_list li:last-child{border-bottom: 0;}
ul.cat_list li a{display: block;padding: 8px 15px;color: #1a1a1a;}
ul.cat_list li a:hover{background-color: #86be27;color: #ffffff;text-decoration: none;}
.cat_toggler{position: absolute; right: 5px; top: 5px; width: 30px;height: 30px;cursor: pointer;}
.cat_toggler:before{content: "";position: absolute; left: 50%; top:50%;transform: translate(-50%, -50%) rotate(-45deg); width: 8px; height: 8px; border-left: 2px solid #1a1a1a; border-bottom: 2px solid #1a1a1a;transition: all .3s ease 0s;}
ul.cat_list li a:hover + .cat_toggler:before{border-left: 2px solid #ffffff; border-bottom: 2px solid #ffffff;}
ul.cat_list ul{position: relative;padding: 0;margin: 0;list-style: none;}
.cat_toggler.active:before{transform: rotate(45deg);}
/*.sub_cat{display: none;}*/
.checkboxes{padding: 10px;}
.check_box{ display: block; position: relative; padding-left: 35px; margin-bottom: 12px; cursor: pointer; font-size: 14px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;font-weight: normal;}
.check_box:nth-of-type(1){font-family: 'Open Sans Bold';}
.check_box input{ position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0;}
.checkmark{ position: absolute; top: 0;left: 0; height: 24px; width: 24px; background-color: #eee;border-radius: 3px; border: 1px solid #dddddd;}
.check_box:hover input ~ .checkmark{ background-color: #ccc;}
.check_box input:checked ~ .checkmark{background-color: #86be27;}
.checkmark:after{ content: ""; position: absolute; display: none;}
.check_box input:checked ~ .checkmark:after{ display: block;}
.check_box .checkmark:after{ left: 8px; top: 6px; width: 5px; height: 10px; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);}
.cat_list > li > a{text-transform: uppercase;}
.pr_sec_with_siebar .single_product img{height: 260px;}
.products_details{position: relative; padding-left: 120px;}
.products_details .slider-nav{position: absolute;left: 0;top: 0;width: 100px;}
.products_details .slider-nav .item-slick{cursor: pointer;}
.products_details .slick-arrow:before{background-image: url(../images/icons/arrow-g.png);}
.products_details .slider-nav img{width: 100%;vertical-align: top;}
.products_details .item-slick{margin-bottom: 10px;}
.products_details .item-slick span{display: inline-block;vertical-align: top;font-size: 14px;background: #86be27;color: #ffffff;width: 100%;padding: 4px;text-align: center;display: none;}
.details-slides a{cursor: zoom-in;}
.related_pr_slider .pr_desp{position: static; }
.related_pr_slider .pr_desp a{display: block; padding:15px 10px; text-align: center; color: #86be27; background: none;font-size: 14px;font-family: 'Open Sans SemiBold';text-transform: none;}
.related_pr_slider .pr_desp a:hover{color: #76ae17;}
.related_pr_slider img{height: 200px;}
.related_pr_slider .slick-dots li button{width: auto;height: auto;background-color: #ffffff;text-indent: 0; color: #86be27;}
.related_pr_slider .slick-dots{padding: 0 40px;	text-align: center; border: 1px solid #86be27;display: none;}
.related_pr_slider .slick-arrow{top: 50%;margin-top: -15px;}
.related_pr_slider .slick-prev{left: -10px;}
.related_pr_slider .slick-next{right: -10px;}
.related_pr_slider .slick-arrow:before{background-image: url(../images/icons/arrow-g.png);}
.contentapplications{padding: 30px 0;}
.specs-app{margin: 15px 0;}
.specs-app strong, .specs-heading span{font-family: 'Open Sans Bold'; font-weight: normal;}
.specs-heading{text-transform: uppercase;}
.ps-tabs .nav-tabs{border: none;text-align: left;border-bottom: 2px solid #707070;margin-top: 30px;}
.ps-tabs .nav-tabs > li{text-align: left;float: left;margin-bottom: 0 !important;}
.ps-tabs .nav-tabs > li a:first-child{margin: 0 60px 0 0;}
.ps-tabs .nav-tabs > li a{color: #5c5c5c;font-size: 24px;background-color: #fff; border: 0; border-bottom: 3px solid transparent!important;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:active, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus{color: #86be27; border: 0;border-bottom: 3px solid #86be27!important;}
/*** Responive ***/
@media only screen and (min-width: 992px) and (max-width: 1200px){
    ul.colors li{width: 130px;height: 130px;}
    h1{}
    h2{font-size: 24px;}
    h3{font-size: 22px;}
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .header .navbar .navbar-nav > li > a{font-size: 13px; padding: 15px 8px;}
    .submenu_content{padding-left: 15px;}
    .sub_menu_link{width: 25%;}
    .submenu_link_cont{padding-right: 15px; padding-left: 15px;width: 75%}
    .sub_menu_link a{font-size: 12px;letter-spacing: 0;padding: 2px 7px;}
    .link_cont p{font-size: 14px;line-height: 20px;}
    .search_form{margin-top: 4px}
    h1{}
    h2{font-size: 24px;}
    h3{font-size: 22px;}
    .home-slider .slider-descp p{font-size: 15px;line-height: 22px;display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;-webkit-line-clamp: 2;}
    .colors_section .aligner .aligner-center{display: block;margin-bottom: 20px;}
    ul.colors li{width: 130px;height: 130px;}
    ul.colors li >img{width: 100%;}
    .iframe_video{margin-bottom: 30px;}
    .address_list{margin-bottom: 30px;}
    .address_list li{float: left;width: 33.33%;}
}
@media only screen and (max-width: 767px){
    .header .navbar .navbar-nav > li > a{font-size: 13px; padding: 15px 8px;}
    .header .navbar .navbar-nav > li{position: relative;}
    .submenu_toggler{position: absolute;background-image: url(../images/icons/arrow-b.png);width: 35px;height: 35px;display: inline-block;top: 6px;right: 10px;transform: rotate(90deg);background-size: 6px;background-repeat: no-repeat;background-position: center;cursor: pointer;}
    .search_form{margin-top: 4px}
    .submenu_link_cont{display: none;}
    .submenu_content{padding-left: 0;margin-top: 2px;border-bottom: 0;}
    .sub_menu .container{padding: 0;}
    .sub_menu_link{width: 100%;}
    .has_submenu.active .sub_menu{display: block;position: static;opacity: 1;visibility: visible;}
    h1{}
    h2{font-size: 24px;}
    h3{font-size: 22px;}
    .home-slider .slider-descp{padding: 0 15px;}
    .home-slider .slider-descp h2{margin-bottom: 10px;}
    .home-slider .slider-descp p{font-size: 14px;line-height: 20px;display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;-webkit-line-clamp: 2;}
    .colors_section .aligner .aligner-center{display: block;margin-bottom: 20px;}
    ul.colors li{width: 110px;height: 110px;}
    ul.colors li >img{width: 100%;}
    .iframe_video{margin-bottom: 30px;}
    .footer ul.address_list{margin-bottom: 20px;display: inline-block;vertical-align: top;width: 100%;}
    .address_list li{float: left;width: 33.33%;}
    .btn{padding: 8px 18px;}
    .top-right-menu > a > .text_det{display: none;}
    .top-right-menu .mail, .top-right-menu .number, .top-right-menu .google-lang{margin-right: 10px;}
    .navbar-toggle{margin-top: 0;margin-bottom: 0;display: inline-block;float: none;vertical-align: middle;margin-right: 10px;padding: 0;}
    .navbar-toggle .icon-bar{background-color: #111111;}
    .header .navbar-collapse{float: left;padding: 0;margin-left: 0;margin-right: 0;width: 100%;margin-top: 50px;}
    .header .navbar-collapse .navbar-nav{margin: 0;}
    ul.colors li .overlay span{font-size: 14px;line-height: 18px;}
    ul.colors li .overlay{top: 0;opacity: 1;visibility: visible;}
    .top-right-menu .google-lang{display: none;}
}
@media only screen and (max-width: 480px){
    .home-slider .slider-descp{display: none;}
    .home-slider-section .scroll_to_id{display: none;}
    .address_list li{float: none;width: 100%;}
    .bottom_footer_text p, .social_links{width: 100%; text-align: center;}
    .footer .social_links{margin-top: 15px;}
    ul.colors{text-align: center;}
    ul.colors li{width: 90px;height: 90px;}
    .logo a img{max-height: 50px;}
    .top-right-menu{margin-top: 10px;}
}
@media only screen and (max-width: 767px) and (orientation: landscape){
   
}