.inn-form-prt .txt-frm{
        width: 32%;
    padding-right: 10px;
}

.left-side{
    margin-left: 18px;
}

.last-dis{
    width: 50% !important;
}
.led-option{
      width: 49%;
}